# ignore every file
*.*

# but not these folders
!.github

# except these file types
!*.json
!*.yml
!*.svelte
!*.md
!*.ts
!*.js
!*.html

# but ignore these patterns
dist
node_modules
src-tauri/target
